---
layout: base.njk
title: EMD editor
---

{% block head %}
  <style>
    .edit {
      display: flex;
      > div {
        flex: 1;
      }
      h2 {
        text-align: center;
      }
    }
  </style>
  <script type="module">
    import registerComponents from "https://esm.sh/@ed-components/ed-components";
    registerComponents()
  </script>
{% endblock %}
{% block main %}
  <div class="edit">
    <div id="editor">
      <h2>Editeur</h2>
    </div>
    <div>
      <h2>Rendu</h2>
      <ed-pb id="preview"></ed-pb>
    </div>
  </div>
  <script type="module">
    import {basicSetup, EditorView} from "https://esm.sh/codemirror"
    
    // get id document or start new one
    const docId = new URLSearchParams(window.location.search).get("id");
    let emd = ""
    if (docId !== null){
      const resp = await fetch(`/content/${docId}/index.emd`)
      emd = await resp.text()
    } else {
      emd = `# Hello world
This is a paragraph

And a question:

1. what is the answer?

   - [x] True
   - [ ] False
`     }

    // editor change listener
    const updateListenerExtension = EditorView.updateListener.of((update) => {
      if (update.docChanged) {
        // handle doc change
        // TODO maybe update only on ENTER
        const newEmd = update
          .state
          .doc
          .toString();

        updatePreview(newEmd)
      }
    });
    // preview
    const updatePreview = (emd) => {
      const preview = document.createElement("ed-pb");
      preview.innerHTML = emd
      document.querySelector("ed-pb").replaceWith(preview);
    }

    // editor initialization
    const editor = document.querySelector("#editor");
    
    let view = new EditorView({
      doc: emd,
      parent: editor,
      extensions: [updateListenerExtension, basicSetup]
    });

    updatePreview(emd)    
  </script>
{% endblock %}