<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        {% block head %}
            {# preload even if not needed  #}
            <link rel="modulepreload" href="https://esm.sh/@ed-components/ed-components"/>
        {% endblock %}
        <link
        rel="stylesheet" href="/style.css"/> {# pagefind search #}
        <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
        <script src="/pagefind/pagefind-ui.js"></script>
        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
                new PagefindUI({element: "#search", showSubResults: true});
            });
        </script>
        {# <link rel="icon" href="/logo.svg">#}
    </head>
    <body>
        <header>
            Header
            <div id="search"></div>
        </header>
        <main>
            {% block main %}
                {{ content|safe }}
            {% endblock %}
        </main>
        <footer>
            FOOTER
        </footer>
    </body>
</html>