.multi-format {
  > article {
    display: flex;
    align-items: center;
    div {
      flex: 1;
      svg {
        width: 100%;
      }
    }
  }
  p {
    font-size: var(--font-size-3);
    inline-size: 100%;
  }
}
