{# create a hero block header with image on the side #}
<section class="hero">
    <header>
        <div>
            <h1>
                Écrivez et partagez facilement vos contenus éducatifs
            </h1>
        </div>
        <div>
            <img src="/images/multi-format.jpg" alt="Multiple usages">
        </div>
    </header>
    <article>
        <a href="#about">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">
                Commencer
            </button>
        </a>
    </article>
</section>