{% extends "base.njk" %}
{% block head %}
    <script type="module">
        import registerComponents from "https://esm.sh/@ed-components/ed-components";
        registerComponents()
    </script>
{% endblock %}
{% block main %}
<main>
    <a href="/edit/?id={{ emdId }}"><button>edit</button></a>
    <ed-pb html>
        {{ content|safe }}
    </ed-pb>
</main>
{% endblock %}