{% extends "base.njk" %}
{% block head %}
    <script type="module">
        import * as pagefind from "/pagefind/pagefind.js"
        const search = await pagefind.search("*", {
            sort: {
                date: "asc"
            }
        });
    </script>
{% endblock %}
{% block main %}
    {% include "_hero.njk" %}
    {% include "_multi-format.njk" %}
    {{ content|safe }}
{% endblock %}